body {
  background-color: beige;
}
h1 {
  color: black;
}
p {
  font-weight: 600;
  font-size: 1rem;
  color: darkkhaki;
}

.phone {
  width: 300px;
  height: 300px;
  background-color: black;
}
.phone > h1 {
  color: white;
}
.circleGroup {
  display: flex;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: violet;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: pink;
}
