body {
  background-color: beige;
}
h1 {
  color: black;
}
p {
  font-weight: 600;
  font-size: 1rem;
  color: darkkhaki;
}

.phone {
  width: 300px;
  height: 300px;
  background-color: black;
}
.phone > h1 {
  color: white;
}
